@import url('base/variables.css');
@import url('base/reset.css');

@import url('layout/header.css');
@import url('layout/footer.css');

@import url('components/buttons.css');
@import url('components/penguin.css');

@import url('sections/hero.css');
@import url('sections/features.css');
@import url('sections/about.css');
@import url('sections/services.css');
@import url('sections/location.css');