/* Container do Pinguim (Cobre a tela inteira) */
#penguin-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999; /* Fica acima de tudo */
    pointer-events: none; /* O Segredo: deixa clicar nos links do site através dele */
    overflow: hidden;
    display: none; /* Começa escondido */
}

/* Classe ativada pelo JS quando clica no Play */
#penguin-container.active {
    display: block;
}

/* Estilo Específico do Botão Play */
#btn-play-penguin {
    transition: all 0.3s ease;
    margin-left: 10px; /* Separar dos outros botões */
    cursor: pointer;
}

#btn-play-penguin:hover {
    background-color: var(--white);
    color: var(--blue-dark);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

/* Estado quando o botão está "Ligado" (Stop) */
#btn-play-penguin.active-btn {
    background-color: rgba(255, 50, 50, 0.2);
    border-color: #ff4444;
    color: #ff4444;
}